# Portfolio Project: Safety Option

**Names:** Deniz Makul, Richard Sha, Mitchel Shen

**Due:** 11/25/2022 at 11:59pm ET on Dropbox

**What to submit:** your .ipynb (python code in jupyter notebooks) file as well as a pdf with all the output from your code.

In [1]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
#Getting tickers from csv file
csv_tickers = pd.read_csv('Tickers_Example.csv', header = None)

In [3]:
#Drops the tickers with .TO ending from the csv_tickers dataframe
mask = csv_tickers.loc[csv_tickers[0].str.contains('.TO')]
csv_tickers.drop(index = mask.index, inplace = True)
csv_tickers.reset_index(drop = True, inplace = True)
csv_tickers.head()

      0
0  AAPL
1  ABBV
2   ABT
3   ACN
4   AGN

In [8]:
#Drops the tickers that are delisted or have a average monthly volume from 
# January 1st to October 31st of less that 200,000
volume_index_drop = []

volume_start_date = '2022-01-01'
volume_end_date = '2022-10-31'

i = 0
while i < len(csv_tickers):
    stock_data = yf.Ticker(csv_tickers[0][i])
    stock_hist = stock_data.history(start = volume_start_date, end = volume_end_date, interval = '1mo')
    stock_volume = stock_hist['Volume']
    mean = (stock_volume.mean())
    
    if(np.isnan(mean) or mean < 200000):
        volume_index_drop.append(i)
    elif(stock_data.info['market'] != 'us_market'):
        volume_index_drop.append(i)
    i += 1

- AGN: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- RTN: No data found, symbol may be delisted
- TWX: No data found for this date range, symbol may be delisted

      0
0  AAPL
1  ABBV
2   ABT
3   ACN
4   AGN

In [9]:
#Drops invalid tickers
csv_tickers.drop(index = volume_index_drop, inplace = True)
csv_tickers.reset_index(drop = True, inplace = True)
csv_tickers

        0
0    AAPL
1    ABBV
2     ABT
3     ACN
4     AIG
5    AMZN
6     AXP
7      BA
8     BAC
9    BIIB
10     BK
11    BLK
12    BMY
13      C
14    CAT
15     CL
16  CMCSA
17    COF
18    COP
19   COST
20   CSCO
21    CVS
22     GM
23   GOOG
24    JPM
25    KMI
26     KO
27    LLY
28    LMT
29     MO
30    MON
31    MRK
32     MS
33   MSFT
34    NEE
35    NKE
36   ORCL
37    OXY
38    PEP
39    PFE
40     PG
41     PM
42   PYPL
43   QCOM
44   SBUX
45    SLB
46     SO
47    SPG
48      T
49    TGT
50    TXN
51    UNH
52    UNP
53    UPS
54    USB

In [ ]:
# Richard

In [ ]:
# Deniz

In [ ]:
# Mitchel