# Portfolio Project: Safety Option

**Names:** Deniz Makul, Richard Sha, Mitchel Shen

**Due:** 11/25/2022 at 11:59pm ET on Dropbox

**What to submit:** your .ipynb (python code in jupyter notebooks) file as well as a pdf with all the output from your code.

In [2]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
#Getting tickers from csv file
csv_tickers = pd.read_csv('Tickers_Example.csv', header = None)

In [4]:
#Drops the tickers with .TO ending from the csv_tickers dataframe
mask = csv_tickers.loc[csv_tickers[0].str.contains('.TO')]
csv_tickers.drop(index = mask.index, inplace = True)
csv_tickers.reset_index(drop = True, inplace = True)
csv_tickers.head()

      0
0  AAPL
1  ABBV
2   ABT
3   ACN
4   AGN

In [15]:
volume_start_date = '2022-01-01'
volume_end_date = '2022-10-31'

info = yf.Ticker('AAPL')
hist = info.history(start = volume_start_date, end = volume_end_date)

hist.filter(like='2022-02')

Empty DataFrame
Columns: []
Index: [2022-01-03 00:00:00, 2022-01-04 00:00:00, 2022-01-05 00:00:00, 2022-01-06 00:00:00, 2022-01-07 00:00:00, 2022-01-10 00:00:00, 2022-01-11 00:00:00, 2022-01-12 00:00:00, 2022-01-13 00:00:00, 2022-01-14 00:00:00, 2022-01-18 00:00:00, 2022-01-19 00:00:00, 2022-01-20 00:00:00, 2022-01-21 00:00:00, 2022-01-24 00:00:00, 2022-01-25 00:00:00, 2022-01-26 00:00:00, 2022-01-27 00:00:00, 2022-01-28 00:00:00, 2022-01-31 00:00:00, 2022-02-01 00:00:00, 2022-02-02 00:00:00, 2022-02-03 00:00:00, 2022-02-04 00:00:00, 2022-02-07 00:00:00, 2022-02-08 00:00:00, 2022-02-09 00:00:00, 2022-02-10 00:00:00, 2022-02-11 00:00:00, 2022-02-14 00:00:00, 2022-02-15 00:00:00, 2022-02-16 00:00:00, 2022-02-17 00:00:00, 2022-02-18 00:00:00, 2022-02-22 00:00:00, 2022-02-23 00:00:00, 2022-02-24 00:00:00, 2022-02-25 00:00:00, 2022-02-28 00:00:00, 2022-03-01 00:00:00, 2022-03-02 00:00:00, 2022-03-03 00:00:00, 2022-03-04 00:00:00, 2022-03-07 00:00:00, 2022-03-08 00:00:00, 2022-03-09 00:00:00, 2022-03-10 00:00:00, 2022-03-11 00:00:00, 2022-03-14 00:00:00, 2022-03-15 00:00:00, 2022-03-16 00:00:00, 2022-03-17 00:00:00, 2022-03-18 00:00:00, 2022-03-21 00:00:00, 2022-03-22 00:00:00, 2022-03-23 00:00:00, 2022-03-24 00:00:00, 2022-03-25 00:00:00, 2022-03-28 00:00:00, 2022-03-29 00:00:00, 2022-03-30 00:00:00, 2022-03-31 00:00:00, 2022-04-01 00:00:00, 2022-04-04 00:00:00, 2022-04-05 00:00:00, 2022-04-06 00:00:00, 2022-04-07 00:00:00, 2022-04-08 00:00:00, 2022-04-11 00:00:00, 2022-04-12 00:00:00, 2022-04-13 00:00:00, 2022-04-14 00:00:00, 2022-04-18 00:00:00, 2022-04-19 00:00:00, 2022-04-20 00:00:00, 2022-04-21 00:00:00, 2022-04-22 00:00:00, 2022-04-25 00:00:00, 2022-04-26 00:00:00, 2022-04-27 00:00:00, 2022-04-28 00:00:00, 2022-04-29 00:00:00, 2022-05-02 00:00:00, 2022-05-03 00:00:00, 2022-05-04 00:00:00, 2022-05-05 00:00:00, 2022-05-06 00:00:00, 2022-05-09 00:00:00, 2022-05-10 00:00:00, 2022-05-11 00:00:00, 2022-05-12 00:00:00, 2022-05-13 00:00:00, 2022-05-16 00:00:00, 2022-05-17 00:00:00, 2022-05-18 00:00:00, 2022-05-19 00:00:00, 2022-05-20 00:00:00, 2022-05-23 00:00:00, 2022-05-24 00:00:00, 2022-05-25 00:00:00, ...]

[208 rows x 0 columns]

In [20]:
volume_start_date = '2022-01-01'
volume_end_date = '2022-10-31'

months_to_drop = []

i = 1
while i<11: 
    info = yf.Ticker('AAPL')
    hist = info.history(start = f'2022-{i}-01', end = f'2022-{i+1}-01')
    hist = hist.dropna()
    if (len(hist) < 20):
        months_to_drop.append(i)
    i+=1
    
print(months_to_drop)

[2]

In [5]:
#Drops the tickers that are delisted or have a average monthly volume from 
# January 1st to October 31st of less that 200,000
volume_index_drop = []

i = 0
while i < len(csv_tickers):
    stock_data = yf.Ticker(csv_tickers[0][i])
    stock_hist = stock_data.history(start = volume_start_date, end = volume_end_date, interval = '1mo')
    stock_volume = stock_hist['Volume']
    
    stock_volume = stock_volume.dropna()
    stock_volume.drop(index = months_to_drop, inplace = True)
    #print(stock_volume)
    mean = (stock_volume.mean())
    
    if(np.isnan(mean) or mean < 200000):
        volume_index_drop.append(i)
    elif(stock_data.info['market'] != 'us_market'):
        volume_index_drop.append(i)
    i += 1

Date
2022-01-01    2.108446e+09
2022-02-01    1.627516e+09
2022-02-04             NaN
2022-03-01    2.180800e+09
2022-04-01    1.687796e+09
2022-05-01    2.401040e+09
2022-05-06             NaN
2022-06-01    1.749100e+09
2022-07-01    1.447125e+09
2022-08-01    1.510240e+09
2022-08-05             NaN
2022-09-01    2.084723e+09
2022-10-01    1.868140e+09
Name: Volume, dtype: float64
Date
2022-01-01    168562800.0
2022-01-13            NaN
2022-02-01    165818900.0
2022-03-01    151159500.0
2022-04-01    178925400.0
2022-04-13            NaN
2022-05-01    143523500.0
2022-06-01    132591100.0
2022-07-01    116516600.0
2022-07-14            NaN
2022-08-01    109508700.0
2022-09-01    125557500.0
2022-10-01    114545700.0
2022-10-13            NaN
Name: Volume, dtype: float64
Date
2022-01-01    155539600.0
2022-01-13            NaN
2022-02-01    111246800.0
2022-03-01    123453100.0
2022-04-01    102385000.0
2022-04-13            NaN
2022-05-01    125858700.0
2022-06-01    112185100.0
2022-07-01     93492900.0
2022-07-14            NaN
2022-08-01     89963300.0
2022-09-01    116797900.0
2022-10-01    154040800.0
2022-10-13            NaN
Name: Volume, dtype: float64
Date
2022-01-01    63805000.0
2022-01-12           NaN
2022-02-01    48249200.0
2022-03-01    62911400.0
2022-04-01    45062200.0
2022-04-13           NaN
2022-05-01    50760000.0
2022-06-01    51679000.0
2022-07-01    39731900.0
2022-07-13           NaN
2022-08-01    36922600.0
2022-09-01    50957600.0
2022-10-01    46327800.0
2022-10-12           NaN
Name: Volume, dtype: float64
- AGN: No data found, symbol may be delisted
Series([], Name: Volume, dtype: float64)
Date
2022-01-01    110644500.0
2022-02-01    101819800.0
2022-03-01    114976100.0
2022-03-16            NaN
2022-04-01     80519600.0
2022-05-01    124215700.0
2022-06-01    126722800.0
2022-06-15            NaN
2022-07-01     80583000.0
2022-08-01     88028800.0
2022-09-01    113507500.0
2022-09-15            NaN
2022-10-01     93506700.0
Name: Volume, dtype: float64
Date
2022-01-01    1.524654e+09
2022-02-01    1.689604e+09
2022-03-01    1.628486e+09
2022-04-01    1.465008e+09
2022-05-01    2.258476e+09
2022-06-01    1.767601e+09
2022-06-06             NaN
2022-07-01    1.337853e+09
2022-08-01    1.170449e+09
2022-09-01    1.210488e+09
2022-10-01    1.459312e+09
Name: Volume, dtype: float64
Date
2022-01-01     95135700.0
2022-01-06            NaN
2022-02-01     78163700.0
2022-03-01    102603900.0
2022-04-01     67323500.0
2022-04-07            NaN
2022-05-01     68023800.0
2022-06-01     76071200.0
2022-06-30            NaN
2022-07-01     78372700.0
2022-08-01     54978900.0
2022-09-01     66353600.0
2022-10-01     75505300.0
2022-10-13            NaN
Name: Volume, dtype: float64
Date
2022-01-01    219087100
2022-02-01    167301100
2022-03-01    243634200
2022-04-01    182424500
2022-05-01    229236700
2022-06-01    239311400
2022-07-01    183896900
2022-08-01    144159200
2022-09-01    151513600
2022-10-01    167018800
Name: Volume, dtype: int64
Date
2022-01-01    1.225179e+09
2022-02-01    9.417487e+08
2022-03-01    1.312818e+09
2022-03-03             NaN
2022-04-01    1.032210e+09
2022-05-01    1.107801e+09
2022-06-01    9.962943e+08
2022-06-02             NaN
2022-07-01    8.142080e+08
2022-08-01    8.193631e+08
2022-09-01    8.601839e+08
2022-10-01    9.809315e+08
Name: Volume, dtype: float64
Date
2022-01-01    39593500
2022-02-01    21699500
2022-03-01    24043800
2022-04-01    20111200
2022-05-01    25705000
2022-06-01    24799000
2022-07-01    18744000
2022-08-01    17168100
2022-09-01    44139700
2022-10-01    35186800
Name: Volume, dtype: int64
Date
2022-01-01    106761800.0
2022-01-28            NaN
2022-02-01    108628400.0
2022-03-01    150223200.0
2022-04-01    104459600.0
2022-04-27            NaN
2022-05-01    107710500.0
2022-06-01    101478300.0
2022-07-01     62724300.0
2022-07-22            NaN
2022-08-01     60157600.0
2022-09-01     96741800.0
2022-10-01    133211700.0
2022-10-26            NaN
Name: Volume, dtype: float64
Date
2022-01-01    16809100.0
2022-02-01    16275400.0
2022-03-01    20354900.0
2022-03-04           NaN
2022-04-01    17098500.0
2022-05-01    26792600.0
2022-06-01    18106300.0
2022-06-03           NaN
2022-07-01    12738100.0
2022-08-01    14254500.0
2022-09-01    17677300.0
2022-09-06           NaN
2022-10-01    19317000.0
Name: Volume, dtype: float64
Date
2022-01-01    263957200.0
2022-01-06            NaN
2022-02-01    304502300.0
2022-03-01    353696200.0
2022-03-31            NaN
2022-04-01    301171800.0
2022-05-01    332130100.0
2022-06-01    277641300.0
2022-06-30            NaN
2022-07-01    192579300.0
2022-08-01    200503200.0
2022-09-01    227754500.0
2022-10-01    185039800.0
2022-10-06            NaN
Name: Volume, dtype: float64
Date
2022-01-01    565256700.0
2022-02-01    456643500.0
2022-02-04            NaN
2022-03-01    743040700.0
2022-04-01    483095400.0
2022-04-29            NaN
2022-05-01    577277900.0
2022-06-01    470241800.0
2022-07-01    437703700.0
2022-07-29            NaN
2022-08-01    335836200.0
2022-09-01    403082700.0
2022-10-01    392842200.0
Name: Volume, dtype: float64
Date
2022-01-01    89950100.0
2022-01-19           NaN
2022-02-01    67658500.0
2022-03-01    93122200.0
2022-04-01    67152000.0
2022-04-22           NaN
2022-05-01    61623500.0
2022-06-01    71106800.0
2022-07-01    54588100.0
2022-07-19           NaN
2022-08-01    59537400.0
2022-09-01    59363000.0
2022-10-01    69677900.0
2022-10-21           NaN
Name: Volume, dtype: float64
- CELG: No data found, symbol may be delisted
Series([], Name: Volume, dtype: float64)
Date
2022-01-01    110562800.0
2022-01-21            NaN
2022-02-01     89577600.0
2022-03-01    121635700.0
2022-04-01    133477700.0
2022-04-20            NaN
2022-05-01    108843400.0
2022-06-01     96331300.0
2022-07-01     80883600.0
2022-07-20            NaN
2022-08-01     97278600.0
2022-09-01    103191000.0
2022-10-01     97811200.0
2022-10-20            NaN
Name: Volume, dtype: float64
Date
2022-01-01    506448300.0
2022-01-04            NaN
2022-02-01    449603300.0
2022-03-01    472123000.0
2022-04-01    457309600.0
2022-04-05            NaN
2022-05-01    555323700.0
2022-06-01    508205300.0
2022-07-01    451531400.0
2022-07-05            NaN
2022-08-01    486333400.0
2022-09-01    646211100.0
2022-10-01    623587100.0
2022-10-04            NaN
Name: Volume, dtype: float64
Date
2022-01-01    65867500.0
2022-02-01    49416200.0
2022-02-11           NaN
2022-03-01    76376700.0
2022-04-01    55353600.0
2022-05-01    55048600.0
2022-05-13           NaN
2022-06-01    63528200.0
2022-07-01    51538900.0
2022-08-01    50415500.0
2022-08-05           NaN
2022-09-01    56810700.0
2022-10-01    57641100.0
Name: Volume, dtype: float64
Date
2022-01-01    176296900.0
2022-02-01    172844600.0
2022-02-11            NaN
2022-03-01    233961300.0
2022-03-30            NaN
2022-04-01    135826400.0
2022-05-01    168033200.0
2022-05-16            NaN
2022-06-01    200240500.0
2022-06-27            NaN
2022-07-01    142834600.0
2022-08-01    147633700.0
2022-08-15            NaN
2022-09-01    160467300.0
2022-09-28            NaN
2022-10-01    152045900.0
Name: Volume, dtype: float64
Date
2022-01-01    57966700.0
2022-02-01    41865600.0
2022-02-03           NaN
2022-03-01    59731500.0
2022-04-01    49744700.0
2022-04-28           NaN
2022-05-01    80773600.0
2022-06-01    54370600.0
2022-07-01    46975700.0
2022-07-28           NaN
2022-08-01    42247500.0
2022-09-01    49753100.0
2022-10-01    44905600.0
2022-10-27           NaN
Name: Volume, dtype: float64
Date
2022-01-01    480940800.0
2022-01-04            NaN
2022-02-01    419601200.0
2022-03-01    500035600.0
2022-04-01    383849000.0
2022-04-05            NaN
2022-05-01    645254200.0
2022-06-01    491026400.0
2022-07-01    368402100.0
2022-07-05            NaN
2022-08-01    429950500.0
2022-09-01    408782100.0
2022-10-01    414712600.0
2022-10-04            NaN
Name: Volume, dtype: float64
Date
2022-01-01    160906200.0
2022-01-20            NaN
2022-02-01    128186400.0
2022-03-01    126157800.0
2022-04-01    109615100.0
2022-04-21            NaN
2022-05-01    124812900.0
2022-06-01    102042500.0
2022-07-01     90958400.0
2022-07-21            NaN
2022-08-01    109603600.0
2022-09-01    100898700.0
2022-10-01    140701300.0
2022-10-20            NaN
Name: Volume, dtype: float64

Date
2022-01-01    470897500.0
2022-02-01    384992400.0
2022-03-01    403087300.0
2022-04-01    363967100.0
2022-05-01    397427200.0
2022-06-01    323802700.0
2022-07-01    292472200.0
2022-08-01    317943000.0
2022-08-30            NaN
2022-09-01    332839800.0
2022-10-01    317684500.0
Name: Volume, dtype: float64
Date
2022-01-01    615510000.0
2022-02-01    732650000.0
2022-03-01    637420000.0
2022-04-01    564940000.0
2022-05-01    717486000.0
2022-06-01    627132000.0
2022-07-01    638766600.0
2022-07-18            NaN
2022-08-01    430961500.0
2022-09-01    532993100.0
2022-10-01    584537500.0
Name: Volume, dtype: float64
Date
2022-01-01    373950200.0
2022-01-05            NaN
2022-02-01    288730100.0
2022-03-01    390796800.0
2022-04-01    303650400.0
2022-04-05            NaN
2022-05-01    313630400.0
2022-06-01    268201900.0
2022-07-01    239623100.0
2022-07-05            NaN
2022-08-01    258430300.0
2022-09-01    248558100.0
2022-10-01    318197200.0
2022-10-05            NaN
Name: Volume, dtype: float64
Date
2022-01-01    366541600.0
2022-01-28            NaN
2022-02-01    331918300.0
2022-03-01    462171500.0
2022-04-01    315739500.0
2022-04-29            NaN
2022-05-01    391409200.0
2022-06-01    349681300.0
2022-07-01    293841400.0
2022-07-29            NaN
2022-08-01    305959100.0
2022-09-01    437150900.0
2022-10-01    435081200.0
2022-10-28            NaN
Name: Volume, dtype: float64
Date
2022-01-01    407891700.0
2022-02-01    396000700.0
2022-03-01    426922600.0
2022-03-14            NaN
2022-04-01    319591200.0
2022-05-01    459881800.0
2022-06-01    353151200.0
2022-06-14            NaN
2022-07-01    275802300.0
2022-08-01    223178000.0
2022-09-01    317560600.0
2022-09-15            NaN
2022-10-01    325950900.0
Name: Volume, dtype: float64
Date
2022-01-01    59949200.0
2022-02-01    51893500.0
2022-02-14           NaN
2022-03-01    70542900.0
2022-04-01    58093700.0
2022-05-01    65899400.0
2022-05-13           NaN
2022-06-01    68043100.0
2022-07-01    42678300.0
2022-08-01    62148900.0
2022-08-12           NaN
2022-09-01    68982700.0
2022-10-01    55840900.0
Name: Volume, dtype: float64
Date
2022-01-01    43289100.0
2022-02-01    43090400.0
2022-02-28           NaN
2022-03-01    73002900.0
2022-04-01    32351000.0
2022-05-01    26365900.0
2022-06-01    27065300.0
2022-07-01    25167800.0
2022-08-01    24176000.0
2022-09-01    26713100.0
2022-10-01    32646500.0
Name: Volume, dtype: float64
Date
2022-01-01    208636800
2022-02-01    156305600
2022-03-01    236142000
2022-04-01    159628300
2022-05-01    238568200
2022-06-01    353097000
2022-07-01    171859100
2022-08-01    141241600
2022-09-01    221405000
2022-10-01    201135900
Name: Volume, dtype: int64
Date
2022-01-01     514000
2022-02-01     601900
2022-03-01     187700
2022-04-01    1388000
2022-05-01     775900
2022-06-01     427100
2022-07-01     693000
2022-08-01     915600
2022-09-01     177400
2022-10-01     734600
Name: Volume, dtype: int64
Date
2022-01-01    276485100.0
2022-02-01    249350900.0
2022-03-01    235983900.0
2022-03-14            NaN
2022-04-01    240425400.0
2022-05-01    264575000.0
2022-06-01    270575200.0
2022-06-14            NaN
2022-07-01    178373900.0
2022-08-01    177615400.0
2022-09-01    170363300.0
2022-09-14            NaN
2022-10-01    204666700.0
Name: Volume, dtype: float64
Date
2022-01-01    270010600.0
2022-01-28            NaN
2022-02-01    202668300.0
2022-03-01    252309900.0
2022-04-01    198285900.0
2022-04-28            NaN
2022-05-01    172431500.0
2022-06-01    174764800.0
2022-07-01    158809800.0
2022-07-28            NaN
2022-08-01    152454100.0
2022-09-01    182851600.0
2022-10-01    171004200.0
2022-10-28            NaN
Name: Volume, dtype: float64
Date
2022-01-01    947531400.0
2022-02-01    697050600.0
2022-02-16            NaN
2022-03-01    734334200.0
2022-04-01    627343400.0
2022-05-01    742902000.0
2022-05-18            NaN
2022-06-01    621372300.0
2022-07-01    534891800.0
2022-08-01    477157600.0
2022-08-17            NaN
2022-09-01    575586600.0
2022-10-01    671225100.0
Name: Volume, dtype: float64
Date
2022-01-01    269801700.0
2022-02-01    186943600.0
2022-02-28            NaN
2022-03-01    213774400.0
2022-04-01    191512300.0
2022-05-01    242213700.0
2022-05-27            NaN
2022-06-01    204859200.0
2022-07-01    155805400.0
2022-08-01    144169400.0
2022-08-29            NaN
2022-09-01    187077000.0
2022-10-01    182545100.0
Name: Volume, dtype: float64
Date
2022-01-01    131502000.0
2022-02-01    115406000.0
2022-03-01    201080600.0
2022-03-04            NaN
2022-04-01    128180100.0
2022-05-01    162628900.0
2022-06-01    172665200.0
2022-06-03            NaN
2022-07-01    136287300.0
2022-08-01    127466600.0
2022-09-01    206296500.0
2022-09-02            NaN
2022-10-01    200873100.0
Name: Volume, dtype: float64
Date
2022-01-01    200574800.0
2022-01-06            NaN
2022-02-01    144701700.0
2022-03-01    243936600.0
2022-04-01    131271700.0
2022-04-07            NaN
2022-05-01    162438900.0
2022-06-01    219800300.0
2022-07-01    126241100.0
2022-07-11            NaN
2022-08-01    117160200.0
2022-09-01    232945300.0
2022-10-01    200166600.0
2022-10-11            NaN
Name: Volume, dtype: float64
Date
2022-01-01    3.927287e+08
2022-02-01    4.172139e+08
2022-03-01    1.245123e+09
2022-03-09             NaN
2022-04-01    4.985147e+08
2022-05-01    6.240972e+08
2022-06-01    6.721546e+08
2022-06-09             NaN
2022-07-01    4.366725e+08
2022-08-01    6.258891e+08
2022-09-01    5.283044e+08
2022-09-09             NaN
2022-10-01    3.913033e+08
Name: Volume, dtype: float64
- PCLN: No data found for this date range, symbol may be delisted
Series([], Name: Volume, dtype: float64)
Date
2022-01-01    117678300.0
2022-02-01    114609900.0
2022-03-01    127094200.0
2022-03-03            NaN
2022-04-01     93846500.0
2022-05-01    135299300.0
2022-06-01    108827700.0
2022-06-02            NaN
2022-07-01     82172000.0
2022-08-01     83528400.0
2022-09-01    113613100.0
2022-10-01    115063100.0
Name: Volume, dtype: float64
Date
2022-01-01    778212000.0
2022-01-27            NaN
2022-02-01    634804800.0
2022-03-01    718106000.0
2022-04-01    482896600.0
2022-05-01    583220400.0
2022-05-12            NaN
2022-06-01    449186100.0
2022-07-01    340227500.0
2022-07-28            NaN
2022-08-01    411896600.0
2022-09-01    376670300.0
2022-10-01    466825100.0
Name: Volume, dtype: float64
Date
2022-01-01    195173500.0
2022-01-20            NaN
2022-02-01    155799700.0
2022-03-01    170280000.0
2022-04-01    151984400.0
2022-04-21            NaN
2022-05-01    169284800.0
2022-06-01    168567600.0
2022-07-01    131172900.0
2022-07-21            NaN
2022-08-01    137585500.0
2022-09-01    147893600.0
2022-10-01    144766200.0
2022-10-20            NaN
Name: Volume, dtype: float64
Date
2022-01-01    125873900.0
2022-02-01    136148700.0
2022-03-01    162874600.0
2022-03-23            NaN
2022-04-01    111504700.0
2022-05-01    123765000.0
2022-06-01    117798200.0
2022-06-30            NaN
2022-07-01    100536300.0
2022-08-01     75677300.0
2022-09-01    100500800.0
2022-09-27            NaN
2022-10-01     99196300.0
Name: Volume, dtype: float64
Date
2022-01-01    285485800
2022-02-01    671591400
2022-03-01    434443300
2022-04-01    372294900
2022-05-01    380219000
2022-06-01    318416300
2022-07-01    263032100
2022-08-01    340392900
2022-09-01    265398400
2022-10-01    275597700
Name: Volume, dtype: int64
Date
2022-01-01    208913700.0
2022-02-01    241774300.0
2022-03-01    243057800.0
2022-03-02            NaN
2022-04-01    250536000.0
2022-05-01    217951100.0
2022-06-01    212613700.0
2022-07-01    175158600.0
2022-08-01    141858000.0
2022-08-31            NaN
2022-09-01    166185200.0
2022-10-01    164692200.0
Name: Volume, dtype: float64
- RTN: No data found, symbol may be delisted
Series([], Name: Volume, dtype: float64)
Date
2022-01-01    218687500.0
2022-02-01    161930700.0
2022-02-10            NaN
2022-03-01    250082300.0
2022-04-01    195076200.0
2022-05-01    291830700.0
2022-05-12            NaN
2022-06-01    181502100.0
2022-07-01    118099000.0
2022-08-01    129834700.0
2022-08-11            NaN
2022-09-01    203634100.0
2022-10-01    158234200.0
Name: Volume, dtype: float64

Date
2022-01-01    340225400.0
2022-02-01    288724300.0
2022-02-08            NaN
2022-03-01    470064200.0
2022-04-01    245559100.0
2022-05-01    273965500.0
2022-06-01    344160900.0
2022-07-01    247148900.0
2022-08-01    242709600.0
2022-09-01    246233600.0
2022-10-01    354101300.0
Name: Volume, dtype: float64
Date
2022-01-01    111858200.0
2022-02-01    132953900.0
2022-02-18            NaN
2022-03-01    126815500.0
2022-04-01    115727900.0
2022-05-01    112507500.0
2022-06-01    105980700.0
2022-07-01     87323500.0
2022-08-01     82912000.0
2022-09-01     82457500.0
2022-10-01     96021400.0
Name: Volume, dtype: float64
Date
2022-01-01    41589800
2022-02-01    44388100
2022-03-01    52220200
2022-04-01    36943600
2022-05-01    50701700
2022-06-01    52007200
2022-07-01    33021400
2022-08-01    37720400
2022-09-01    47428800
2022-10-01    42524300
Name: Volume, dtype: int64
Date
2022-01-01    1.828522e+09
2022-01-07             NaN
2022-02-01    1.300036e+09
2022-03-01    1.210104e+09
2022-04-01    1.346823e+09
2022-05-01    1.005195e+09
2022-06-01    8.389753e+08
2022-07-01    7.438946e+08
2022-08-01    7.696492e+08
2022-09-01    9.586981e+08
2022-10-01    1.188340e+09
Name: Volume, dtype: float64
Date
2022-01-01     85086200.0
2022-02-01     78236200.0
2022-02-15            NaN
2022-03-01     96139100.0
2022-04-01     73976600.0
2022-05-01    180705600.0
2022-06-01    142802000.0
2022-07-01     66664300.0
2022-08-01     98360800.0
2022-09-01     76379000.0
2022-10-01     66991400.0
Name: Volume, dtype: float64
- TWX: No data found for this date range, symbol may be delisted
Series([], Name: Volume, dtype: float64)
Date
2022-01-01    135610400
2022-02-01    135284600
2022-03-01    126036300
2022-04-01    120267500
2022-05-01    129134300
2022-06-01    121647400
2022-07-01    116321100
2022-08-01    107129800
2022-09-01    124524400
2022-10-01    144896700
Name: Volume, dtype: int64
Date
2022-01-01    80739800
2022-02-01    58656100
2022-03-01    73714100
2022-04-01    61462000
2022-05-01    68003600
2022-06-01    84913200
2022-07-01    58410400
2022-08-01    46357000
2022-09-01    54740000
2022-10-01    59743500
Name: Volume, dtype: int64
Date
2022-01-01    68514700.0
2022-02-01    58738400.0
2022-02-25           NaN
2022-03-01    97243800.0
2022-04-01    79952600.0
2022-05-01    63502800.0
2022-06-01    59134900.0
2022-07-01    48646000.0
2022-08-01    48448500.0
2022-09-01    66678000.0
2022-10-01    69109200.0
Name: Volume, dtype: float64
Date
2022-01-01    53064400.0
2022-02-01    77703700.0
2022-02-18           NaN
2022-03-01    65107600.0
2022-04-01    76896000.0
2022-05-01    80791300.0
2022-06-01    70717800.0
2022-07-01    57130400.0
2022-08-01    50008300.0
2022-09-01    73873500.0
2022-10-01    68308800.0
Name: Volume, dtype: float64
Date
2022-01-01    168718600
2022-02-01    135036500
2022-03-01    196435400
2022-04-01    161858600
2022-05-01    153343300
2022-06-01    168146000
2022-07-01    119712200
2022-08-01    126204400
2022-09-01    187068600
2022-10-01    239850500
Name: Volume, dtype: int64

In [6]:
#Drops invalid tickers
csv_tickers.drop(index = volume_index_drop, inplace = True)
csv_tickers.reset_index(drop = True, inplace = True)
csv_tickers.head()

      0
0  AAPL
1  ABBV
2   ABT
3   ACN
4   AIG

In [ ]:
# Richard

In [ ]:
# Deniz

In [ ]:
# Mitchel