# Portfolio Project: Safety Option

**Names:** Deniz Makul, Richard Sha, Mitchel Shen

**Due:** 11/25/2022 at 11:59pm ET on Dropbox

**What to submit:** your .ipynb (python code in jupyter notebooks) file as well as a pdf with all the output from your code.

In [60]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

In [61]:
#Getting tickers from csv file
csv_tickers = pd.read_csv('Tickers_Example.csv', header = None)

In [95]:
#Drops the tickers with .TO ending from the csv_tickers dataframe
mask = csv_tickers.loc[csv_tickers[0].str.contains('.TO')]
csv_tickers.drop(index = mask.index, inplace = True)
csv_tickers.reset_index(drop = True, inplace = True)
csv_tickers.head()

      0
0  AAPL
1  ABBV
2   ABT
3   ACN
4   AIG

In [99]:
#Drops the tickers that are delisted or have a average monthly volume from 
# January 1st to October 31st of less that 200,000
volume_index_drop = []

volume_start_date = '2022-01-01'
volume_end_date = '2022-10-31'

i = 0
while i < len(csv_tickers):
    stock_data = yf.Ticker(csv_tickers[0][i])
    stock_hist = stock_data.history(start = volume_start_date, end = volume_end_date, interval = '1mo')
    stock_volume = stock_hist['Volume']
    
    mean = (stock_volume.mean())
    
    if(np.isnan(mean) or mean < 200000):
        volume_index_drop.append(i)
    i += 1
    
csv_tickers.head()

      0
0  AAPL
1  ABBV
2   ABT
3   ACN
4   AIG

In [100]:
csv_tickers.drop(index = volume_index_drop, inplace = True)
csv_tickers.reset_index(drop = True, inplace = True)
csv_tickers.head()

      0
0  AAPL
1  ABBV
2   ABT
3   ACN
4   AIG

In [ ]:
# Richard

In [ ]:
# Deniz

In [ ]:
# Mitchel