# Portfolio Project: Safety Option

**Names:** Deniz Makul, Richard Sha, Mitchel Shen

**Due:** 11/25/2022 at 11:59pm ET on Dropbox

**What to submit:** your .ipynb (python code in jupyter notebooks) file as well as a pdf with all the output from your code.

In [212]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime
from threading import Thread
import time

In [213]:
#Getting tickers from csv file
csv_tickers = pd.read_csv('Tickers_Example.csv', header = None)

In [214]:
# Returns a list of of months that have less than 20 trading days

volume_start_date = '2022-01-01'
volume_end_date = '2022-10-31'

def remove_month(ticker):
    hist = ticker.history(start = volume_start_date, end = volume_end_date)
    
    months_to_remove = []
    for i in range(1,11,1):
        if i <= 9: #appends a 0 if single digit
            i = str(0) + str(i)
        df = hist.filter(like='2022-' + str(i), axis=0)
        if len(df.index) < 20:
            months_to_remove.append('2022-' + str(i))
    return months_to_remove

In [215]:
volume_index_drop = []

def filter_stocks(ticker, i):
    stock_data = yf.Ticker(ticker)
    stock_hist = stock_data.history(start = volume_start_date, end = volume_end_date, interval = '1mo', Threads = True)
    
    if stock_hist.empty:
        volume_index_drop.append(i)
        return
    
    stock_volume = stock_hist['Volume']
    stock_volume = stock_volume.dropna()
    stock_volume = stock_volume.drop(remove_month(stock_data))
    
    mean = (stock_volume.mean())

    if mean<200000:
        volume_index_drop.append(i)         
    elif(stock_data.info['market'] != 'us_market'):
        volume_index_drop.append(i)
    
    #volume_index_drop

In [216]:
#Drops the tickers that are delisted or have a average monthly volume from 
# January 1st to October 31st of less that 200,000

# Sending in the first ticker to determine which month to remove

thread_list = []

for i in range(len(csv_tickers)):
    ticker = csv_tickers[0][i]
    filter_thread = Thread(target = filter_stocks, args = (ticker,i,))
    thread_list.append(filter_thread)
    filter_thread.start()
    
for i in thread_list:
    i.join()

print(volume_index_drop)

- AGN: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- RTN: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- TWX: No data found for this date range, symbol may be delisted
[4, 16, 47, 40, 56, 48, 54]

In [217]:
#Drops invalid tickers
csv_tickers.drop(index = volume_index_drop, inplace = True)
csv_tickers.reset_index(drop = True, inplace = True)
csv_tickers.head()

      0
0  AAPL
1  ABBV
2   ABT
3   ACN
4   AIG

In [218]:
tickers_list = []
price_list = []
shares_list = []
values_list = []
weight_list = []

In [219]:
# Richard
total_amount_to_spend = 500000

Portfolio_Final = pd.DataFrame({
    'Ticker': tickers_list,
    'Price': price_list,
    'Shares': shares_list,
    'Value': values_list,
    'Weight': weight_list
})

In [220]:
close_all = pd.DataFrame()

def stock_history(ticker):
    stock_data = yf.Ticker(ticker)
    stock_hist = stock_data.history(start = close_start, end = close_end, interval = '1d')
    stock_close = stock_hist['Close']
    stock_close = stock_close.dropna()
    close_all[ticker] = stock_close

In [221]:
# Mitchel
close_start = '2022-01-01'
close_end = '2022-10-31'

thread_list = []

for i in range(0,len(csv_tickers)):
    ticker = csv_tickers[0][i]
    filter_thread = Thread(target = stock_history, args = (ticker, ))
    thread_list.append(filter_thread)
    filter_thread.start()
    
for i in thread_list:
    i.join()
close_all.head()

,AMZN,GOOG,BIIB,PYPL,ORCL,ABBV,AXP,BA,JPM,MON,...,COP,TGT,PFE,CVS,BMY,KO,UNH,UNP,TXN,SO
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,170.404495,145.074493,244.139999,194.940002,87.574669,134.029205,167.788895,207.860001,160.736511,9.75,...,73.400787,230.949112,56.222534,103.606232,61.342434,59.299999,502.279999,246.562317,190.600006,67.475571
2022-01-04,167.522003,144.416504,241.729996,191.139999,88.511185,133.771881,173.175369,213.630005,166.830002,9.75,...,76.584778,233.159531,54.118526,103.735535,61.590263,60.290001,490.899994,250.801544,190.800003,67.475571
2022-01-05,164.356995,137.653503,239.270004,187.160004,86.139999,134.474579,171.329987,213.070007,163.779999,9.75,...,75.271385,227.872452,55.210232,105.247452,61.619999,60.790001,489.690002,251.557831,186.820007,67.554756
2022-01-06,163.253998,137.550995,237.300003,192.270004,86.339996,133.841156,172.899994,211.339996,165.520004,9.76,...,78.097168,230.351715,54.426189,102.044571,61.480000,60.470001,469.649994,252.254440,186.759995,67.475571
2022-01-07,162.554001,137.004501,232.600006,187.600006,87.510002,133.494751,174.380005,215.500000,167.160004,9.75,...,80.236404,229.784164,55.299549,103.636070,62.830002,60.330002,458.600006,253.538147,179.440002,67.940781

In [222]:
close_all_pct = close_all.pct_change() * 100
close_all_pct.head()

,AMZN,GOOG,BIIB,PYPL,ORCL,ABBV,AXP,BA,JPM,MON,...,COP,TGT,PFE,CVS,BMY,KO,UNH,UNP,TXN,SO
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,-1.691559,-0.453553,-0.987140,-1.949319,1.069391,-0.191991,3.210269,2.775909,3.790981,0.000000,...,4.337815,0.957102,-3.742285,0.124802,0.404010,1.669480,-2.265670,1.719333,0.104930,0.000000
2022-01-05,-1.889309,-4.682983,-1.017661,-2.082241,-2.678967,0.525296,-1.065615,-0.262134,-1.828210,0.000000,...,-1.714953,-2.267580,2.017249,1.457473,0.048280,0.829325,-0.246484,0.301548,-2.085952,0.117354
2022-01-06,-0.671098,-0.074469,-0.823338,2.730285,0.232177,-0.471035,0.916365,-0.811945,1.062404,0.102566,...,3.754126,1.088005,-1.420103,-3.043191,-0.227198,-0.526402,-4.092387,0.276918,-0.032123,-0.117217
2022-01-07,-0.428778,-0.397302,-1.980614,-2.428875,1.355114,-0.258818,0.855993,1.968394,0.990816,-0.102461,...,2.739198,-0.246384,1.604668,1.559612,2.195840,-0.231519,-2.352813,0.508894,-3.919465,0.689449

In [223]:
#Expected Return
expected_return = close_all_pct.mean()
expected_return.head()

AMZN   -0.190174
GOOG   -0.166870
BIIB    0.125011
PYPL   -0.316877
ORCL   -0.039824
dtype: float64

In [224]:
expected_return_from_0 = abs(0 - expected_return)
expected_return_from_0

expected_return_sorted = sorted(expected_return_from_0.items(), key=lambda x:x[1])

In [225]:
std_lst = close_all_pct.std()
std_lst = sorted(std_lst.items(), key=lambda x:x[1])

In [226]:
correlation_pct_stocks = pd.DataFrame()
index = []

for i in range(len(close_all_pct.columns)):
    
    correlation_temp = {}
    
    for j in range(len(close_all_pct.columns)):
        correlation_df = pd.DataFrame({
            csv_tickers[0][i]: close_all_pct[csv_tickers[0][i]]
        })
        
        correlation_df[csv_tickers[0][j]] = close_all_pct[csv_tickers[0][j]]
        correlation = correlation_df.corr()[csv_tickers[0][i]][csv_tickers[0][j]]

        correlation_temp[csv_tickers[0][j]] = correlation
        
    correlation_pct_stocks[csv_tickers[0][i]] = list(correlation_temp.values())
    index.append(csv_tickers[0][i])


correlation_pct_stocks.set_index([pd.Index(index)])
correlation_pct_stocks.head()

,AAPL,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BIIB,...,SLB,SO,SPG,T,TGT,TXN,UNH,UNP,UPS,USB
0,1.000000,0.196115,0.607975,0.788189,0.564777,0.661361,0.640823,0.576638,0.566142,0.298499,...,0.208881,0.370039,0.596782,0.378568,0.506691,0.720272,0.518906,0.474990,0.536375,0.471165
1,0.196115,1.000000,0.448482,0.310854,0.300005,0.195382,0.254210,0.103088,0.287487,0.222762,...,0.168036,0.369601,0.246472,0.277107,0.259999,0.235616,0.523391,0.242589,0.201065,0.368628
2,0.607975,0.448482,1.000000,0.685228,0.530735,0.486366,0.580548,0.428488,0.563878,0.328822,...,0.117035,0.438613,0.513648,0.367974,0.422302,0.523594,0.591601,0.490681,0.468793,0.542299
3,0.788189,0.310854,0.685228,1.000000,0.600418,0.677280,0.649058,0.548413,0.589600,0.384701,...,0.203834,0.411081,0.640848,0.365729,0.547363,0.735174,0.581976,0.556123,0.574278,0.527163
4,0.564777,0.300005,0.530735,0.600418,1.000000,0.456730,0.737495,0.534551,0.757113,0.241459,...,0.395121,0.290292,0.601893,0.372322,0.340778,0.489535,0.400360,0.512507,0.509901,0.732907

In [227]:
correlation_pct_mean = pd.DataFrame()
correlation_pct_mean = correlation_pct_stocks.sum()
correlation_pct_mean = correlation_pct_mean - 1
correlation_pct_mean = correlation_pct_mean/(len(correlation_pct_stocks) - 1)

correlation_pct_mean.head()

AAPL    0.497130
ABBV    0.284643
ABT     0.467452
ACN     0.523949
AIG     0.473681
dtype: float64

In [231]:
correlation_from_0 = abs(0 - correlation_pct_mean)
correlation_from_0 = sorted(correlation_from_0.items(), key=lambda x:x[1])

In [232]:
points_system = pd.DataFrame()
expected_lst = []
std_deviation_lst = []
correlation_lst = []

for i in expected_return_sorted:
    expected_lst.append(i[0])
    
for i in std_lst:
    std_deviation_lst.append(i[0])

for i in correlation_from_0:
    correlation_lst.append(i[0])

points_system['Expected Returns'] = expected_lst
points_system['Standard Deviation'] = std_deviation_lst
points_system['Correlation'] = correlation_lst
points_system.index += 1 

points_system = points_system.set_index([points_system.index[::-1]])

points_system.head()

   Expected Returns Standard Deviation Correlation
55               SO                MON         MON
54               PM                BMY         LMT
53               MO                MRK         OXY
52              MON                PEP         SLB
51                T                 KO         COP

In [233]:
score = pd.DataFrame()
    
score['Tickers'] = expected_lst

score['Points'] = None

for i in range(len(score)):
    score['Points'][i] = (int(points_system[points_system['Expected Returns'] == expected_lst[i]].index.values)) + (int(points_system[points_system['Standard Deviation'] == expected_lst[i]].index.values)) + (int(points_system[points_system['Correlation'] == expected_lst[i]].index.values)) 

score = score.sort_values("Points")
score = score[::-1]
score = score.reset_index(drop=True)
score.index += 1 

score.head()

  Tickers Points
1     MON    162
2      SO    147
3      MO    144
4      PM    142
5    ABBV    134

In [234]:
number_of_stocks = 25

score_dropped = score.copy()
score_dropped.drop(labels = range(number_of_stocks + 1, len(score) + 1), inplace = True)
score_dropped.head()

  Tickers Points
1     MON    162
2      SO    147
3      MO    144
4      PM    142
5    ABBV    134

In [235]:
min_weighting = 100/(2*number_of_stocks)
base_weighting_total = min_weighting * number_of_stocks

score_dropped['Base Weighting'] = min_weighting
weighting_sum = score_dropped['Points'].sum()

score_dropped['Points-based Weighting'] = (score_dropped['Points']/weighting_sum) * (100 - base_weighting_total)
score_dropped['Total Weighting'] = score_dropped['Base Weighting'] + score_dropped['Points-based Weighting']
score_dropped.head()

  Tickers Points  Base Weighting Points-based Weighting Total Weighting
1     MON    162             2.0               2.779684        4.779684
2      SO    147             2.0               2.522306        4.522306
3      MO    144             2.0                2.47083         4.47083
4      PM    142             2.0               2.436513        4.436513
5    ABBV    134             2.0               2.299245        4.299245