# Portfolio Project: Safety Option

**Names:** Deniz Makul, Richard Sha, Mitchel Shen

**Due:** 11/25/2022 at 11:59pm ET on Dropbox

**What to submit:** your .ipynb (python code in jupyter notebooks) file as well as a pdf with all the output from your code.

In [2]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
#Getting tickers from csv file
csv_tickers = pd.read_csv('Tickers_Example.csv', header = None)

In [4]:
#Drops the tickers with .TO ending from the csv_tickers dataframe
mask = csv_tickers.loc[csv_tickers[0].str.contains('.TO')]
csv_tickers.drop(index = mask.index, inplace = True)
csv_tickers.reset_index(drop = True, inplace = True)
csv_tickers.head()

      0
0  AAPL
1  ABBV
2   ABT
3   ACN
4   AGN

In [5]:
# Returns a list of of months that have less than 20 trading days

volume_start_date = '2022-01-01'
volume_end_date = '2022-10-31'

def remove_month(ticker):
    hist = ticker.history(start = volume_start_date, end = volume_end_date)
    
    months_to_remove = []
    for i in range(1,11,1):
        if i <= 9: #appends a 0 if single digit
            i = str(0) + str(i)
        df = hist.filter(like='2022-' + str(i), axis=0)
        if len(df.index) < 20:
            months_to_remove.append('2022-' + str(i))
    return months_to_remove

In [ ]:
#Drops the tickers that are delisted or have a average monthly volume from 
# January 1st to October 31st of less that 200,000
volume_index_drop = []

# Sending in the first ticker to determine which month to remove

i = 0
while i < len(csv_tickers):
    stock_data = yf.Ticker(csv_tickers[0][i])
    stock_hist = stock_data.history(start = volume_start_date, end = volume_end_date, interval = '1mo')
    
    if stock_hist.empty:
        volume_index_drop.append(i)
        i+=1
        continue
    
    stock_volume = stock_hist['Volume']
    stock_volume = stock_volume.dropna()
    stock_volume = stock_volume.drop(remove_month(stock_data))
    
    mean = (stock_volume.mean())

    if mean<200000:
        volume_index_drop.append(i)         
    elif(stock_data.info['market'] != 'us_market'):
        volume_index_drop.append(i)
    i += 1
volume_index_drop

- AGN: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted

In [ ]:
#Drops invalid tickers
csv_tickers.drop(index = volume_index_drop, inplace = True)
csv_tickers.reset_index(drop = True, inplace = True)
csv_tickers.head()

In [ ]:
tickers_list = []
price_list = []
shares_list = []
values_list = []
weight_list = []

In [ ]:
# Richard
total_amount_to_spend = 500000

Portfolio_Final = pd.DataFrame({
    'Ticker': tickers_list,
    'Price': price_list,
    'Shares': shares_list,
    'Value': values_list,
    'Weight': weight_list
})

In [ ]:
# Deniz

In [42]:
# Mitchel
close_start = '2022-01-01'
close_end = '2022-10-31'
close_all = pd.DataFrame()
for i in range(0,len(csv_tickers)):
    stock_data = yf.Ticker(csv_tickers[0][i])
    stock_hist = stock_data.history(start = close_start, end = close_end, interval = '1d')
    stock_close = stock_hist['Close']
    stock_close = stock_close.dropna()
    close_all[csv_tickers[0][i]] = stock_close
    
close_all.head()

,AAPL,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BIIB,...,SLB,SO,SPG,T,TGT,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,180.959732,130.341797,136.745361,401.729431,56.390324,170.404495,166.056244,207.860001,45.393047,244.139999,...,31.361927,65.578423,153.253525,17.874918,227.143707,185.358856,497.457550,243.742813,206.660690,55.597622
2022-01-04,178.663071,130.091568,133.529343,398.858582,57.972282,167.522003,171.387100,213.630005,47.172207,241.729996,...,32.884541,65.578423,155.815720,18.022528,229.317719,185.553360,486.186798,247.933548,210.329269,57.053822
2022-01-05,173.910660,130.774918,132.929413,391.834412,57.176388,164.356995,169.560791,213.070007,46.376007,239.270004,...,32.884541,65.655380,153.951447,18.423185,224.117737,181.682800,484.988434,248.681198,207.686722,56.752869
2022-01-06,171.007507,130.158936,132.909714,372.912567,58.158974,163.253998,171.114563,211.339996,47.309818,237.300003,...,33.665623,65.578423,155.987823,18.352894,226.556152,181.624435,465.140808,249.369812,209.700104,58.296440
2022-01-07,171.176514,129.822067,133.322784,365.760162,59.681973,162.554001,172.579300,215.500000,48.341923,232.600006,...,34.634560,66.030563,154.180893,18.979887,225.997971,174.505737,454.196960,250.638855,211.171417,59.218700

In [47]:
close_all_pct = close_all.pct_change() * 100
close_all_pct.head()

,AAPL,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BIIB,...,SLB,SO,SPG,T,TGT,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,-1.269156,-0.191979,-2.351830,-0.714623,2.805373,-1.691559,3.210272,2.775909,3.919454,-0.987140,...,4.854974,0.000000,1.671867,0.825792,0.957108,0.104934,-2.265671,1.719327,1.775170,2.619176
2022-01-05,-2.659985,0.525284,-0.449287,-1.761068,-1.372888,-1.889309,-1.065605,-0.262134,-1.687858,-1.017661,...,0.000000,0.117352,-1.196460,2.223094,-2.267588,-2.085955,-0.246482,0.301553,-1.256386,-0.527489
2022-01-06,-1.669336,-0.471025,-0.014819,-4.829041,1.718517,-0.671098,0.916351,-0.811945,2.013565,-0.823338,...,2.375226,-0.117215,1.322740,-0.381538,1.088006,-0.032125,-4.092392,0.276906,0.969432,2.719812
2022-01-07,0.098830,-0.258813,0.310790,-1.917984,2.618682,-0.428778,0.855998,1.968394,2.181586,-1.980614,...,2.878120,0.689466,-1.158379,3.416318,-0.246377,-3.919461,-2.352803,0.508900,0.701627,1.582018

In [49]:
std_lst = close_all_pct.std()
std_lst = sorted(std_lst.items(), key=lambda x:x[1])
std_lst

[('MON', 0.1442119443909774),
 ('BMY', 1.2611451252214554),
 ('MRK', 1.2784821872832999),
 ('KO', 1.28395751510193),
 ('PEP', 1.29137083314131),
 ('CL', 1.3358863232281883),
 ('PG', 1.4524838370893998),
 ('SO', 1.4554215238099508),
 ('ABBV', 1.4923014158202137),
 ('UNH', 1.548675916160527),
 ('PM', 1.6451354823881044),
 ('MO', 1.6631053041956556),
 ('UNP', 1.665935576640049),
 ('PFE', 1.7152584740380359),
 ('ABT', 1.7238492907218264),
 ('LMT', 1.7415836324479996),
 ('CVS', 1.741918208272324),
 ('KMI', 1.7467633869425996),
 ('LLY', 1.7702257546689806),
 ('T', 1.8143029255870589),
 ('USB', 1.877135780199025),
 ('CMCSA', 1.9094528018580637),
 ('CSCO', 1.9102155767403337),
 ('JPM', 1.9825770556423437),
 ('ACN', 2.0061283087556565),
 ('UPS', 2.0093003088357033),
 ('ORCL', 2.0163413626661337),
 ('COST', 2.0245551263349935),
 ('NEE', 2.0309204761576063),
 ('TXN', 2.0336893407946093),
 ('BK', 2.0635730786877073),
 ('SPG', 2.085290808714871),
 ('MS', 2.098881826146854),
 ('BAC', 2.1198643464578537),
 ('C', 2.142329263172049),
 ('AIG', 2.205662016078997),
 ('AAPL', 2.2071821417984907),
 ('MSFT', 2.2140526345232585),
 ('CAT', 2.2334081742365663),
 ('BLK', 2.255463089919456),
 ('AXP', 2.319330214014503),
 ('SBUX', 2.3247442917604384),
 ('GOOG', 2.430979408199516),
 ('NKE', 2.563551660059215),
 ('COF', 2.581024273615375),
 ('COP', 2.752494147070237),
 ('TGT', 2.8720249445816566),
 ('GM', 2.8789457005848202),
 ('QCOM', 2.921574564725407),
 ('BA', 3.0589834274367487),
 ('AMZN', 3.1887003264460043),
 ('SLB', 3.2556969500667923),
 ('BIIB', 3.449123944064091),
 ('OXY', 3.6105166929539787),
 ('PYPL', 3.85710001726365)]